{{template "base" .}}

{{define "content"}}

    <div>
        <div class="row h-75">
            <div class="col h-75">
                <img src="/static/images/geral-suite.jpg" class="fluid w-100 h-75" alt="">

            </div>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-5">General's Quarters</h1>
                <p>Your home away from home, set on the majestic mountains of never-land this will be a vacation in a
                    dream world</p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius massa eu nisl commodo, non
                    facilisis velit aliquet. Aliquam at elementum ante. Quisque ornare in libero eget euismod.
                    Suspendisse in dolor nibh. Morbi scelerisque arcu vitae massa consequat, in tempus purus vulputate.
                    Nam vehicula ligula at fermentum interdum. Aenean vehicula ante eu urna efficitur, a posuere purus
                    semper. Mauris aliquet erat at rhoncus viverra.

                    Integer ullamcorper commodo ex, in euismod enim pulvinar ac. Phasellus ultrices ut justo quis
                    bibendum. Nullam lacus ligula, feugiat et nulla non, ornare hendrerit ipsum. In nec interdum lorem.
                    Donec tincidunt fringilla mauris, sit amet porttitor turpis fermentum at. Duis at lectus non sapien
                    condimentum posuere. Mauris porttitor placerat iaculis. Proin tempus ante ac consequat elementum.
                    Praesent laoreet commodo sapien, vitae maximus sapien molestie non. Donec semper viverra auctor.
                    Quisque id nisl condimentum, faucibus ligula quis, interdum magna. Nunc eleifend tortor vitae lectus
                    condimentum tempor. Pellentesque malesuada enim ac nulla hendrerit consectetur. Etiam vitae neque
                    non ligula sollicitudin aliquam. Duis consequat turpis nec metus dapibus feugiat.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">

                <a href="/make-reservation-gq" class="btn btn-success">Check availability</a>
            </div>
        </div>

    </div>

{{end}}